permissive system_server;

allow system_server sysfs_kgsl:file r_file_perms;
allow system_server app_zygote:process { getpgid };
allow system_server init:binder { call };

# Allow system_server to set persist_camera_prop
get_prop(system_server, vendor_camera_prop)
get_prop(system_server, persist_camera_prop)
